.App {
  padding-top: 60px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add these styles to your CSS file */
.custom-toast-error .p-toast-message {
  background-color: #ffcccc; /* Adjust the background color as needed */
  color: #990000; /* Adjust the text color as needed */
}

.test {
  background-color: blue;
}

.required-label {
  color: gray; /* Set the desired color for the required label */
}
